<f:layout name="Default" />

<f:section name="main">

    <f:form id="form" name="aha" action="selectFiles" method="post">

        <div class="actions module-docheader">
            <div class="module-docheader-bar-column-left">
                <div class="btn-group" role="group">
                    <f:link.action class="btn btn-default" action="index">
						<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-document-close" data-identifier="actions-document-close">
							<span class="icon-markup">
								<img src="{typo3SitePath}typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-close.svg" width="16" height="16">
							</span>
						</span>
                    </f:link.action>
				</div>
				<div class="btn-group" role="group">
                    <button type="submit" class="btn btn-default">
						<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-document-save" data-identifier="actions-document-save">
							<span class="icon-markup">
								<img src="{typo3SitePath}typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-save.svg" width="16" height="16">
							</span>
						</span>
                    </button>
                </div>
                <h3>Assign language files for translation</h3>
            </div>
        </div>


		<div class="extensions-fieldsets">
			<f:for each="{extensions}" as="e" iteration="extiter">
				<fieldset class="form-section extension">
					<legend class="extension">{e.ext}</legend>
						<ul>
							<li class="file">
								<div class="input-group">
										<span class="input-group-addon input-group-icon">
										<span><span class="t3js-icon icon icon-size-small icon-state-default icon-default-not-found" data-identifier="default-not-found">
											<span class="icon-markup">
												<img src="{typo3SitePath}typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-page-new.svg" width="16" height="16">
											</span>
										</span></span>
										</span>
									<input class="form-control cccc-file t3js-clearable hasDefaultValue" name="tx_typo3xlfmanager_tools_typo3xlfmanagertypo3xlfmanager[extensions][{e.ext}][cccc]" id="ext_{e.ext}" type="text" value="" pattern="[a-z]*" placeholder="create custom language file locallang_[your_name].xlf" />
								</div>
							</li>
							<f:if condition="{e.files}">
								<f:for each="{e.files}" as="f" iteration="fileiter">
									<li class="file">
										<div class="input-group">
											<span class="input-group-addon input-group-icon input-inside">
											<span><span class="t3js-icon icon icon-size-small icon-state-default icon-default-not-found" data-identifier="default-not-found">
												<span class="icon-markup">
													<input id="{e.ext}_file_{f.filename}" name="tx_typo3xlfmanager_tools_typo3xlfmanagertypo3xlfmanager[extensions][{e.ext}][files][]" type="checkbox" value="{f.filename}" {f:if(condition:'{f.checked}',then:'checked="checked" class="checked"')} />
													<span class="check-status"></span>
												</span>
											</span></span>
											</span>
											<label for="{e.ext}_file_{f.filename}"></label>
											<input type="text" readonly value="{f.filename}" class="form-control t3js-clearable hasDefaultValue">
										</div>
									</li>
								</f:for>
							</f:if>
						</ul>
				</fieldset>
			</f:for>
		</div>


    </f:form>

</f:section>